.bg-submit{
    background-color: rgb(167, 171, 200, 1);
    transition: background-color 0.3s ease;
}

.bg-submit:hover {
  background-color: rgb(129, 132, 160);
}

.hours-font{
    color: rgb(89, 102, 185);;
}